@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

/*
#004A7F
#FFED02
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #d5e0e8;
}

header{
    height: 120px;
    background-color: #004a7f;
    width: 100vw;
    padding: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.537);
}

header img{
    display: inline;
    width: 90px;
}

header h1{
    color: #FFED02;
    font-size: 3em;
    padding-left: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.429);
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-variant: small-caps;
}

header .logo{
    display: flex;
    align-items: center;
}

header ul li{
    display: inline;
    margin-right: 20px;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bolder;
}

main{
    width: 1200px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.269);
}

main img{
    width: 590px;
    padding: 0px 20px 0 20px;
    border-radius: 10px;
}

main .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

main .container h2{
    font-family: 'Quicksand', sans-serif;
    font-variant: small-caps;
    display: block;
    color: #004a7f;
    font-size: 2em;
    padding: 0 20px 0 20px;
}

main .container p{
    display: block;
    padding-top: 15px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.1em;
    width: 580px;
    padding: 20px;
}

footer{
    background-color: #004a7f;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .container > p{
    color: white;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #ffee008f;
    padding: 2px;
}

main a::after{
    content: ' \1F517';
}

main a:hover{
    text-decoration: underline;
    color: #004a7f;
}

section#turismo{
    display: block;
}

section#turismo h2{
    display: flex;
    justify-content: center;
    width: 100%;
}

section#turismo p{
    width: 99%;
}

main section#turismo h3{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-variant: small-caps;
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    background-image: linear-gradient(to right, #004a7f77, #ffee027d);
    padding: 5px;
}

section#contato .socialcontainer form h2{
    font-family: 'Quicksand', sans-serif;
    color: #004a7f;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

section#contato .socialcontainer form input,button,textarea{
    display: block;
    width: 250px;
    padding: 10px;
    height: 50px;
    margin-bottom: 8px;
    margin-left: 20px;
}

section#contato .socialcontainer form button{
    display: block;
    background-color: #FFED02;
    color: #004a7f;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    border-style: none;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
}

section#contato .socialcontainer form button:hover{
    background-color: #004a7f;
    color: #FFED02;
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

section#contato .socialcontainer form textarea{
    resize: none;
    height: 150px;
}

section#contato .socialcontainer form input:focus, section#contato .socialcontainer form textarea:focus{
    outline-color: #004a7f;
}

section#contato .socialcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}