body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #quadrado{
        height: 500px;
        width: 500px;
        background-color: blue;
        border: 2px dashed red;
    }
}

